.container-appointment{
    justify-content: center;
    align-items: center;
    /* width: 90vw; */
    margin-top: 7rem;
}

.content-appointment{
    background-color: #ffffff;
    padding: 3vh;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.content-appointment h1{
    text-align: center;
    margin-bottom: 3vh;
}

.content-appointment table{
    background-color: #efefef;
    width: 100%;
    padding: 3vh;
    /* border-radius: 20px; */
}

.content-appointment .image{
    width: 10vw;
    padding-left: 2vw;
}

.content-appointment tr td img{
    width: 60%;
}


.colspan_titleProduct{
    width: 50%;
}

.content-appointment table td{
    text-align: center;
    padding: 1vh;
}

.btn_delete_product{
    color: red;
    cursor: pointer;
    text-decoration: none;
}


/* .modal-booking-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 100;
  }
  
  .bg-booking-active{
    visibility: visible;
    opacity: 1;
  }
  
  .modal-booking{
    position: relative;
    background-color: white;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .modal-booking-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  } */

