.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem ;
    padding-bottom: 10rem ;
}

.home .image{
    flex:1 1 45rem;
}

lottie-player{
    width: 93%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--blacktext);
    line-height: 1.8;
    /* text-shadow: var(--text-shadow); */
}

.home .content p{
    font-size: 1.7rem;
    color:var(--blacktext);
    line-height: 1.8;
    padding: 1rem 0;
}

/* Button */
.buttonLogin {
    display: inline-block;
    border-radius: 0;
    border-style: solid;
    background-color: var(--blue);
    color: white;
    text-align: center;
    padding: 10px;
    width: 15rem;
    transition: all 0.5s;
    cursor: pointer;
    border: none;
}
  
.buttonLogin span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.buttonLogin span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.buttonLogin:hover span {
   padding-right: 25px;
}
  
.buttonLogin:hover span:after {
    opacity: 1;
    right: 0;
}
/* THE END of Button */


/* Icon service */
.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
  }
  
.counter {
    font-size: 60px;
    margin-top: 10px;
    color: var(--blue);
    font-weight: 500;
}

.counter-container span{
    font-size: 20px;
    color: var(--blacktext);
}

.counter-container i{
    font-size: 70px;
    color: var(--blue);
}


/* section service*/
.services h1{
    font-size: 30px;
    text-align: center;
    padding: 5vh 0;
}

.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-card .card{
    background: white;
    width: 220px;
    /* height: 400px; */
    margin: 10px;
    border-radius: 15px;
}

.container-card .card .card-image{
    /* background: aqua; */
    width: 220px;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1{
    background-image: url('./../photo/img1.jpg');
}

.card-2{
    background-image: url('./../photo/img2.jpg');
}

.card-3{
    background-image: url('./../photo/img3.jpg');
}

.container-card .card p{
    padding: 10px;
}

.container-card .card a{
    background-color: var(--blacktext);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 20px;
    text-decoration: none;
}

.card:hover{
    background-color: #69ABCE;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}



/* Section doctor */

.doctors{
    height: 100vh;
    
}

.doctors .container-slider{
    display: flex;
    justify-content: center;
}

.doctors .card-slider .image-slider{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #69ABCE;
}

.doctors .card-slider .image-slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.card-slider{
    border-radius: 20px;
    background: #f3f3f3;
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.card-slider::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #69ABCE;
    border-radius: 20px 20px 0 0;
}

.card-slider .card-content-slider{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.card-slider .media-icons-slider{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-slider .media-icons-slider i{
    color: var(--white);
    margin-top: 10px;
    opacity: 0.6;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 15px;
}

.card-slider .media-icons-slider i:hover{
    opacity: 1;
}

.card-slider .name-profession-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.card-slider .name-profession-slider .name{
    font-size: 20px;
    font-weight: 600;

}

.card-slider .name-profession-slider .profession{
    font-size: 15px;
    font-weight: 500;
    
}

.card-slider .rating-slider{
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card-slider .rating-slider i{
    font-size: 18px;
    margin: 0 7px;
    color: #69ABCE;
}

.card-slider .button-slider{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.card-slider .button-slider button{
    background: #69ABCE;
    outline: none;
    border: none;
    color: var(--white);
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button-slider button:hover{
    background: #30759b;
    color: #f3f3f3;
}

.swiper{
    width: 950px;
}
/* The end of Section doctor */




/* product collection */
.product-collection{
    padding: 3.2rem 0;
}
.product-collection-wrapper{
    padding: 3.2rem 0;
}
.product-col-left{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("./../photo/covid.jpg") center/cover no-repeat;
}
.product-col-r-top{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("./../photo/organic-food.jpg") center/cover no-repeat;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 2rem 1.5rem 3.2rem;
    margin: 5px;
}
.product-col-r-bottom > div:first-child{
    /* background: #eaa001; */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("./../photo/vitamin.jpg") center/cover no-repeat;
}
.product-col-r-bottom > div:last-child{
    /* background: #0090ff; */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("./../photo/smartHospital.jpg") center/cover no-repeat;
}
.product-col-content{
    text-align: center;
    color: white;
}
.product-collection .text-light{
    opacity: 1;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7;
}
.btn-dark{
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1.2rem;
    font-family: inherit;
}
.btn-dark:hover{
    background: var(--blue);
}

.search{
    margin-top:10vh;
    display: flex;
}

#search_btn{
    text-decoration: none;
    padding: 2vh 1vw;
    background-color: #e9e9e9;
    height: 3rem;
    width: 6.5rem;
    border-radius: 60px;
    margin: 10px 3px;
}


/* Media Queries */
@media screen and (min-width: 992px){
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1336px){
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}