.doctorList h1{
    margin: 15vh 0 5vh;
    font-size: 35px;
    text-align: center;
}

.doctorList .container-card .card{
    box-shadow: 1px 2px 5px  #69ABCE;
    width: 250px;
    height: 420px;
    margin: 2rem;
}

.doctorList .card .card-image img{
    width: 250px;
    height: 170px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.doctorList .card h2{
    font-size: 2.0rem;
}

.doctorList .card h3{
    padding-left: 10px;
    font-size: 1.5rem;
}

.doctorList .container-card .card .rating-slider{
    display: flex;
    align-items: center;
    margin: 18px 0 25px;
    padding-left: 10px;
}

.doctorList .container-card .card .rating-slider i{
    font-size: 15px;
    margin-right: 0.5rem;
    color: #69ABCE;
}

.doctorList .container-card .card a{
    margin: 10px 10px 0;
    font-size: 1.2rem;
    padding: 10px 0;
}


/* ================================= Detail doctor ================================= */
.doctorDetail{
    padding: 15vh 0;
}

#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.title_doc{
	width: 600px;
	padding-right: 3rem;
    text-align: right;
}

.title_doc h1{
    font-size: 4rem;
}

.title_doc h3{
    font-size: 2.5rem;
}

.title_doc h4{
    font-size: 2rem;
}

.title_doc p{
    font-size: 1.5rem;
}

#featured_detail{
	width: 450px;
	height: 450px;
	object-fit: cover;
	cursor: pointer;
	border: 1px solid black;

}

.thumbnail_detail{
	object-fit: cover;
	width: 100px;
	height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail_detail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper_detail{
	max-width: 450px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider_detail{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider_detail::-webkit-scrollbar {
	/* width: 2px; */
    height: 6px;
}

#slider_detail::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);

}
 
#slider_detail::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    outline: 1px solid var(--lightblue);
    border-radius: 100px;
}

#slider_detail::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
    cursor: pointer;
}

.arrow_detail{
	height: 20px;
	cursor: pointer;  
	transition: .3s;
}

.arrow_detail:hover{
	opacity: .5;
	height: 25px;
}

.title_doc .rating-slider{
    /* display: flex;
    align-items: center;
    
    padding-left: 10px; */
    margin: 18px 0 25px;
}

.title_doc .rating-slider i{
    font-size: 15px;
    margin-right: 0.5rem;
    color: #69ABCE;
}

.home-text{
    /* background-color: #e4e4e4; */
    height: 35vh;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    }
    
.home-text h1{
    font-size: 3rem;
    color:#000000;
    line-height: 56px;
    font-weight: 700;
    padding:10rem 0 0;
}
    
.home-text p{
    padding: 0 3rem 3rem;
    font-size: 2rem;
    margin:0;
    overflow: hidden;
}
    
.home-text p span{
    font-size: 2.5rem;
    color:#69ABCE;
    font-weight: 500;
    display: inline-block;
    line-height: 46px;
    display: none;
}
    
.home-text p span.text-in{
    display: block;
    animation: textIn .5s ease;
}
    
.home-text p span.text-out{
    animation: textOut .5s ease;
}

.comment{
    margin: 0 10%;
    padding: 2%;
    background-color: var(--lightblue);
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.comment h2{
    font-size: 3rem;
}

.comment p{
    font-size: 2rem;
}

.comment-patient{
    display: flex;
    margin: 2% 0;
}

.comment-patient img{
    width: 5rem;
    margin-right: 3%;
}

.comment-content h5{
    font-size: 1.5rem;
}

.rating-slider i{
    color: #69ABCE;
    font-size: 1.2rem;
    margin: 3% 0;
}

.comment-content p{
    font-size: 1.5rem;
}


    
@keyframes textIn{
    0%{
        transform: translateY(100%);
    }
    
    100%{
        transform: translateY(0%);
    }
    
}
    
@keyframes textOut{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%); 
    }
}

/* ======================= Appointment ======================= */
.doctorList table, th, td {
    border: 0.5px solid;
    width: 10vw;
}

.doctorList table {
    width: 100%;
    border-collapse: collapse;
}

.doctorList tr {
    height: 5vh;
}

.doctorList table{
    background-color: rgb(255, 255, 255);
}

.time:hover{
    background-color: #69ABCE;
    cursor: pointer;
}

.time.active{
    background-color: #69ABCE;
    cursor: pointer;
}